includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/nunomaduro/larastan/extension.neon

parameters:
    level: 6
    paths:
        - app
        - database
        - routes
        - tests

    excludePaths:
        - vendor

    # checkMissingIterableValueType: false
    # checkGenericClassInNonGenericObjectType: false
    inferPrivatePropertyTypeFromConstructor: true

    # Laravel-specific helpers (optional)
    bootstrapFiles:
        - bootstrap/app.php

    # Ignore Pest internal class warnings and custom expectations (false positives)
    ignoreErrors:
        - '#Call to method .* of internal class Pest\\(Mixins|PendingCalls)\\.* from outside its root namespace Pest\.#'
        - '#Access to an undefined property PHPUnit\\Framework\\TestCase::\$userRepository\.#'
        - '#Access to an undefined property PHPUnit\\Framework\\TestCase::\$wishlistRepository\.#'
        - '#Access to an undefined property PHPUnit\\Framework\\TestCase::\$productRepository\.#'
        - '#Access to an undefined property PHPUnit\\Framework\\TestCase::\$authService\.#'
        - '#Access to an undefined property PHPUnit\\Framework\\TestCase::\$productService\.#'
        - '#Access to an undefined property PHPUnit\\Framework\\TestCase::\$wishlistService\.#'
        - '#Call to an undefined method PHPUnit\\Framework\\TestCase::withHeader\(\)\.#'
        - '#Call to an undefined method PHPUnit\\Framework\\TestCase::postJson\(\)\.#'
        - '#Call to an undefined method PHPUnit\\Framework\\TestCase::getJson\(\)\.#'
        - '#Call to an undefined method PHPUnit\\Framework\\TestCase::actingAs\(\)\.#'
        - '#Call to an undefined method PHPUnit\\Framework\\TestCase::assertDatabaseMissing\(\)\.#'
        - '#Call to an undefined method PHPUnit\\Framework\\TestCase::assertDatabaseHas\(\)\.#'
